$body-background-color: white;
$navigation-background-color: rgba(255, 255, 255, 0.98);
$navigation-link-color: dimgray;
$navigation-link-color-hover: black;
$navigation-link-color-active: orangered;
$banner-background-color: whitesmoke;
$body-font-color: dimgray;
$heading-font-color: black;
$brand-mark-text-color: black;
$footer-background-color: whitesmoke;
$footer-text-color: gray;
$footer-link-color: gray;
$footer-link-color-hover: black;
$main-background-color: white;
